<%- include('partials/header') %>

<div class="student">
    <div class="student-description">
        <h1><%=student.first_name%> <%=student.last_name%></h1>
        <p>Scientifique</p>
        <!-- <p>Groupe : <a href="/promo/<%=promo.id%>"><em><%=promo.name%></em></a></p> -->
        
    </div>
</div>

<%- include('partials/footer') %>